
.footer {
    background-color: #F9F9F9;
    border-top: 1px solid #E5E1DA;
    padding-top: 1.5rem;
    margin-top: auto;
    text-align: center;
}

.footerContainer {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem 1.5rem 1rem;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footerLink {
    color: #89A8B2;
    transition: color 0.3s ease;
    text-decoration: none;
}

.footerLink:hover {
    color: rgba(137, 168, 178, 0.8);
}

.footerSeparator {
    display: none;
    color: #E5E1DA;
}

.footerItem {
    color: #89A8B2;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.footerItem:hover {
    color: rgba(137, 168, 178, 0.8);
}
/* Ensure parent links don't have underlines */
a {
text-decoration: none;
}

@media (min-width: 768px) {
    .footerSeparator {
      display: inline;
    }
}

  
@media (min-width: 768px) {
    .footerLinks {
      flex-direction: row;
      gap: 2rem;
    }
}