/* Ensure parent links don't have underlines */
a {
text-decoration: none;
}

@media (min-width: 768px) {
    .footer-separator {
      display: inline;
    }
}

  
@media (min-width: 768px) {
    .footer-links {
      flex-direction: row;
      gap: 2rem;
    }
}