
.cancel-button,
.confirm-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
}

.confirm-button {
  background-color: #89a8b2;
  color: white;
}
