.search-bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.search-bar-buttons {
  display: flex;
  gap: 1rem;
}

.search-button {
  background-color: #89a8b2;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: #7796a0;
}

.search-input {
  width: 78%;
  padding: 0.5rem 1rem;
  padding-right: 2.5rem;
  border: 0.5px solid var(--border-light, #e0e0e0);
  border-radius: 6px;
  font-size: 0.875rem;
  background-color: var(--element-bg, #ffffff);
  /* color: var(--text-primary, #333); */
}
