.pageWrapper {
  min-height: 100vh;
  direction: rtl;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #F1F0E8, rgba(229, 225, 218, 0.3));
}

.header {
  border-bottom: 1px solid #ccc;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #E5E1DA;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoText {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: o.5rem;
  color: #89A8B2;
}

.navButtons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navButton {
  padding: 0.5rem 1rem;
  border: 1.5px solid #E5E1DA;
  background-color: #89A8B2;
  cursor: pointer;
  margin-left: 2px;
  width: 117px;
  font-size: 14.5px;
  transition: all 0.3s ease; /* אנימציה לחלק מהשינויים */
}

.navButton:hover {
  background-color: #F9F9F9;
}

.navButton:focus-visible {
  outline: 2px solid #E5E1DA; /* גבול שיתגלה כשיש פוקוס על הכפתור */
}

.introSection {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  background: linear-gradient(to right, #E5E1DA, #F9F9F9); /* הגדרת הגרדיאנט */
}

.mainTitle {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #89A8B2; 
}

.info {
  font-size: 1.125rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  color: #464646;
}


.cardsSection {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1rem;   
  padding-right: 1rem;
  background-color: #F9F9F9;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border: 2px solid #E5E1DA;
  border-radius: 8px;
  background-color: #E5E1DA ;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-in-out;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.card p {
  font-size: 0.9rem;
}

.cardButton {
  padding: 0.4rem 0.8rem;
  border: 1px solid #E5E1DA;
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
}

.cardButton:hover {
  background-color: #F9F9F9;
  color: #89A8B2;
}

@media (min-width: 768px) {
  .cardsGrid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
