.social-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  direction: rtl;
  background-color: #F1F0E8;
}

.social-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .social-layout {
    flex-direction: row;
  }
}

.social-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social-main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
